<div class="dashboard-content">

  <header class="content-header">
    <h2>Panel de Administración</h2>
    <p>Listado general de citas médicas</p>
  </header>

  <!-- LISTA DE CITAS -->
  <div class="dashboard-section glass-card">
    <div class="section-header">
      <h3>
        <i class="fas fa-clipboard-list"></i>
        Citas Registradas
      </h3>
      <p>Agenda completa del sistema</p>
    </div>
<button class="btn-listar" (click)="cargarCitas()">
      <i class="fas fa-sync-alt"></i> Listar
    </button>
    <div class="table-container">
      <table class="dashboard-table">
        <thead>
          <tr>
            <th>Paciente</th>
            <th>Médico</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Motivo</th>
            <th>Estado</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let cita of citasRecientes">
            <td>{{ cita.nombrePaciente }}</td>
            <td>Dr. {{ cita.nombreMedico }}</td>
            <td>{{ cita.fecha | date:'dd/MM/yyyy' }}</td>
            <td>{{ cita.hora }}</td>
            <td>{{ cita.motivo }}</td>
            <td>
              <span class="status-indicator"
                    [ngClass]="getStatusClass(cita.estado)">
                {{ cita.estado }}
              </span>
            </td>
          </tr>

          <tr *ngIf="citasRecientes.length === 0 && !isLoading">
            <td colspan="6" class="empty-msg">
              No hay citas registradas.
            </td>
          </tr>

         
          
        </tbody>
      </table>
    </div>
  </div>

</div>